/* body{
    color: orange;
    justify-content: space-evenly;
    align-items:center ;
    color: #fff;
    font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;


* Version 0
* Last update: 2023/01/23
* Author: 
* Contact: 
*/

/* 
*  ÍNDICE DEL CSS
*  0.0 - 
*/


